<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SysDev</display-name>
  <welcome-file-list>
    <welcome-file>BugTracker.html</welcome-file>
    <welcome-file>BugTracker.htm</welcome-file>
    <welcome-file>BugTracker.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>BugTrackerServ</display-name>
    <servlet-name>BugTrackerServ</servlet-name>
    <servlet-class>com.uow.cs.gpthirteen.servlet.BugTrackerServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BugTrackerServ</servlet-name>
    <url-pattern>/BugTrackerServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LoginServ</display-name>
    <servlet-name>LoginServ</servlet-name>
    <servlet-class>com.uow.cs.gpthirteen.servlet.LoginServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServ</servlet-name>
    <url-pattern>/LoginServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LogoutServ</display-name>
    <servlet-name>LogoutServ</servlet-name>
    <servlet-class>com.uow.cs.gpthirteen.servlet.LogoutServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServ</servlet-name>
    <url-pattern>/LogoutServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>RegisterServ</display-name>
    <servlet-name>RegisterServ</servlet-name>
    <servlet-class>com.uow.cs.gpthirteen.servlet.RegisterServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServ</servlet-name>
    <url-pattern>/RegisterServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ViewProjectServ</display-name>
    <servlet-name>ViewProjectServ</servlet-name>
    <servlet-class>com.uow.cs.gpthirteen.servlet.ViewProjectServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProjectServ</servlet-name>
    <url-pattern>/ViewProjectServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ViewBugDetailServ</display-name>
    <servlet-name>ViewBugDetailServ</servlet-name>
    <servlet-class>com.uow.cs.gpthirteen.servlet.ViewBugDetailServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBugDetailServ</servlet-name>
    <url-pattern>/ViewBugDetailServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AddCommentServ</display-name>
    <servlet-name>AddCommentServ</servlet-name>
    <servlet-class>com.uow.cs.gpthirteen.servlet.AddCommentServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCommentServ</servlet-name>
    <url-pattern>/AddCommentServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ViewCommentServ</display-name>
    <servlet-name>ViewCommentServ</servlet-name>
    <servlet-class>com.uow.cs.gpthirteen.servlet.ViewCommentServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCommentServ</servlet-name>
    <url-pattern>/ViewCommentServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ViewUserServ</display-name>
    <servlet-name>ViewUserServ</servlet-name>
    <servlet-class>com.uow.cs.gpthirteen.servlet.ViewUserServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUserServ</servlet-name>
    <url-pattern>/ViewUserServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>TriagerServ</display-name>
    <servlet-name>TriagerServ</servlet-name>
    <servlet-class>com.uow.cs.gpthirteen.servlet.TriagerServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TriagerServ</servlet-name>
    <url-pattern>/TriagerServ</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<display-name>ViewPatchServ</display-name>
  	<servlet-name>ViewPatchServ</servlet-name>
  	<servlet-class>com.uow.cs.gpthirteen.servlet.ViewPatchServ</servlet-class>
  </servlet>
  <servlet-mapping>
 	<servlet-name>ViewPatchServ</servlet-name> 
 	<url-pattern>/ViewPatchServ</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<display-name>UploadServ</display-name>
  	<servlet-name>UploadServ</servlet-name>
  	<servlet-class>com.uow.cs.gpthirteen.servlet.UploadServ</servlet-class>
  </servlet>
  <servlet-mapping>
 	<servlet-name>UploadServ</servlet-name> 
 	<url-pattern>/UploadServ</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<display-name>ViewReviewerServ</display-name>
  	<servlet-name>ViewReviewerServ</servlet-name>
  	<servlet-class>com.uow.cs.gpthirteen.servlet.ViewReviewerServ</servlet-class>
  </servlet>
  <servlet-mapping>
 	<servlet-name>ViewReviewerServ</servlet-name> 
 	<url-pattern>/ViewReviewerServ</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<display-name>UpdatePatchServ</display-name>
  	<servlet-name>UpdatePatchServ</servlet-name>
  	<servlet-class>com.uow.cs.gpthirteen.servlet.UpdatePatchServ</servlet-class>
  </servlet>
  <servlet-mapping>
 	<servlet-name>UpdatePatchServ</servlet-name> 
 	<url-pattern>/UpdatePatchServ</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<display-name>TestServ</display-name>
  	<servlet-name>TestServ</servlet-name>
  	<servlet-class>com.uow.cs.gpthirteen.servlet.TestServ</servlet-class>
  </servlet>
  <servlet-mapping>
 	<servlet-name>TestServ</servlet-name> 
 	<url-pattern>/TestServ</url-pattern>
  </servlet-mapping>
</web-app>